<br> 

<div class="container col col-md-2">
    <div class="row col col-md-4">
  
  <form action="/action_page.php">

    <div class="form-group">
      <label for="productId" class="mr-sm-2">ProductId:</label>
     <input type="number" class="form-control mb-2 mr-sm-2" id="id">
    </div> 

    <div class="form-group">
    <label for="productName" class="mr-sm-2">ProductName:</label>
      <td><input type="text" class="form-control mb-2 mr-sm-2" id="name">
      </div>
  
     <div class="form-group">  
    <label for="productCode" class="mr-sm-2">ProductCode:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="code">
    </div>

    <div class="form-group">
      <label for="releaseDate" class="mr-sm-2">ReleaseDate:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="date">
    </div>

    <div class="form-group">
      <label for="description" class="mr-sm-2">Description:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="descr">
    </div>

    <div class="form-group">
      <label for="starRating" class="mr-sm-2">StarRating:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="rate">
    </div>

    <div class="form-group">
      <label for="price" class="mr-sm-2">Price:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="pric">
    </div>
      
    <div class="form-group">
      <button type="submit" class="mr-sm-2" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>
</div>
